*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#preloader{
    width: 100%;
    height: 100vh;
    background: rgb(240,240,240) url('https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999999;
    position: absolute;
}
.container img{
    height: 60px;
    width: 60px;
    border-radius:50%;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background: #ececec;
    
}

.container{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ececec;
    border-radius: 6px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
                10px 10px 15px rgba(70,70,70,0.12);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.container div{
    height: 100px;
    width: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);
    cursor: pointer;
    transition: .5s ease;
}
.marquee{
    background: #ddd;
    padding: 5px;
    font-family: cursive;
    position: relative;
    height: 30px;
    overflow: hidden;

}
.move{
    position: absolute;
    top: 2.5px;
    animation:marquee 15s cubic-bezier(1,1.01,.62,.64) infinite;
    width: 100%;
}
@keyframes marquee{
    0% {
        transform: translateX(160vw);
    }
    100% {
        transform: translateX(-23vw);
    }
}
.container div:hover{
    
    transform: scale(1.08) ;
}

h1{
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    color: #5D6D75;
    text-transform: uppercase;
}

.animaleName{
    height: 30px;
    width: 150px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #616A6B;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);
}
.contain{
    height: 45px;
    width: 45px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    text-align: center;
    border-radius: 0px 6px 6px 0px;
    padding: 10px;
    margin-left: 0px;
    z-index: 10;
    transition: .3s all ease;
}
.contain i{
    font-size: 28px;
    margin-left: -4px;
}

.spin{
    animation:contact 2s infinite linear;
}
@keyframes contact{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(359deg);
    }
}

.overlay{
    width: 300px;
    height: 250px;
    box-shadow: 1px 0px 9px 2px grey;
    text-align: center;
    margin-left: -400px;
    transition: .3s ease all;
    z-index: 9;
    margin-top: -45px;
    border: 1px solid grey;
}
.overlay ul li{
    float: left;
    margin-left: 30px;
}
.overlay ul li:first-child{
    margin-left:35px;
}
.overlay .mail{
    margin-top: 45px;
}
ul{
    list-style-type: none;
}
.overlay ul li a{
    font-size: 22px;
    color: #e9144f;
}
.social-icon{
    text-align: center;
    margin-top: 8px;
    padding: 15px;
}
.overlay h4{
    font-size: 23px;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 7px;

}
.reload{
    background: linear-gradient(to right,#ff105f,#ffad06);
    width: max-content;
    padding: 7px;
    border-radius: 6px;
    position: fixed;
    right: 6px;
    top: 35px;
}
i{
    cursor: pointer;
}
.rotate{
    transition: .7s ease;

}
.reload:hover .rotate{
    transform: rotate(359deg);
}